.slider {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.slider .slider-actions {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 15%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 15px;
}

.slider .slider-actions>div {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #dbf9ff;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

.slider .slider-actions>div>img {
    width: 100%;
    height: 100%;
}

.slider-imgs {
    right: 0;
    position: relative;
    height: 100%;
    display: flex;
    transition: right 500ms;
}

.slider-imgs .slider-element {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-imgs .slider-element .description {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgb(42, 42, 42, 0.6);
    font-family: Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    padding: 10px;
}

.slider-imgs .slider-element .description > * {
    padding: 5px;
}

.slider-imgs img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider .slider-btns {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: 25px;
    z-index: 999;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.slider .slider-btns li.slider-btn {
    list-style-type: none;
    width: 20px;
    height: 5px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;

    transition: all 250ms;
}

.slider .slider-btns li.slider-btn[selected] {
    background-color: white;
}